

body{
    background-color: #222831;
    margin: 0em;
    padding: 0em;
    font-family: 'Roboto Condensed', sans-serif;
}

ul{
    list-style:none;
}

ul.extra-info-text{
    background: url('../images/tri.png') no-repeat left center;
	padding: 3px 0px 3px 30px;
	list-style: none;
}

a,p{
    text-decoration:none;
    color: #ffffff;
}

h3{
    color: #222831;
}

#extra-info-head{
    color: #157ec4;
}

#extra-info-text{
    color: #ffffff;
}

i.icon-light {
    color: #FFC107
}

nav{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px !important;
    font-family: 'Roboto Condensed'!important;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 0% 2%;
    background-color: #222831 !important; 
    box-shadow: 0px 0px 25px rgba(233, 255, 254, 0.5)!important;
    z-index: 1;
}

.sidenav{
    background-color: #222831 !important;
}

#mobile-sidebar li a{
    color: #ffffff !important;
}

.hide-on-med-and-down{
    display: flex !important;
}
.hide-on-med-and-down li a{
    color: #157ec4 ;
    font-size: 18px;
    font-family: 'Roboto Condensed'!important;
}

.cornerName{
    color: #FFC107;
    font-family: 'Roboto Condensed';
    font-size: 32px;
}

.hide-on-med-and-down li a:hover,
.active{
    background-color: black;
    color: #FFC107;
    font-weight: 700;
    transition: all ease 0.4s;
    box-sizing: border-box;
    border-radius: 5px 5px 15px 5px;
}

#intro-img{
    padding: 0.25rem;
    height:14rem;
    width:14rem;
    background-color: #222831;
    box-sizing: border-box;
    border-radius: 0.5rem 0.0rem 0.0rem 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
}

#intro-text{
    padding: 0.5rem;
    margin-left: 0rem;
    margin-top: 0rem;
    height: 14rem;
    background-color: #ffc1076e;
    box-sizing: border-box;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
    border-radius: 0.0rem 0.5rem 2rem 0rem;
}

#contact-footer{
    background-color: #FFC107;
}


#contact-footer{
    color: #222831;
}