

body{
    background-color: #222831;
    margin: 0em;
    padding: 0em;
    font-family: 'Roboto Condensed', sans-serif;
}

ul{
    list-style:none;
}

li#extra-info-text{
	padding: 0.0rem 0rem 0.5rem 1.5rem;
    background: url('../images/tri.png') no-repeat;
    background-size: 0.8rem;
    background-position-y: 0.3rem;
    background-position-x: 0.2rem;
	list-style: none;
}

a,p{
    text-decoration:none;
    color: #ffffff;
}

h3{
    color: #222831;
}

#extra-info-head{
    color: #157ec4;
}

#extra-info-text{
    color: #ffffff;
}

i.icon-light {
    color: #FFC107
}

#citation-box{
    background-color: #ffc107;
    color:#222831;
}

#citation-text{
    background-color: #222831;
    white-space: pre-wrap;
    display: flex;
    font-weight: 300;
    font-family: 'Source Code Pro', monospace;
    font-size: small;
}


nav{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    font-weight: 600;
    letter-spacing: 0.1rem !important;
    font-family: 'Roboto Condensed'!important;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 0% 2%;
    background-color: #222831 !important; 
    box-shadow: 0px 0px 25px rgba(233, 255, 254, 0.5)!important;
    z-index: 1;
}

.sidenav{
    background-color: #222831 !important;
}

#mobile-sidebar li a{
    color: #ffffff !important;
}

.hide-on-med-and-down{
    display: flex !important;
}
.hide-on-med-and-down li a{
    color: #157ec4 ;
    font-size: 18px;
    font-family: 'Roboto Condensed'!important;
}

.cornerName{
    color: #FFC107;
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
}

.hide-on-med-and-down li a:hover,
.active{
    background-color: black;
    color: #FFC107;
    font-weight: 700;
    transition: all ease 0.4s;
    box-sizing: border-box;
    border-radius: 5px 5px 15px 5px;
}

#intro-img{
    display:flex;
    justify-self: center;
    max-width: 30%;
    padding: 0.25rem;
    background-color: #222831;
    box-sizing: border-box;
    border-radius: 0.5rem 0.0rem 0.0rem 2rem;
    object-fit: cover;
    /*box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);*/
}

#intro-text{
    display:flex;
    padding: 0.0rem !important;
    background-color: #ffc1079c;
    box-sizing: border-box;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem 0.5rem 2rem 2rem;
}

#about-text{
    margin: 0rem 1rem 0rem 1rem;
}

.br-on-mobile {
    display: none;
}

@media screen and (min-width: 600px) {
    .br-on-mobile {
        display: static;
    }
}

/*#about .row
{
    display: flex;
    flex-wrap: wrap;
}*/

#mobile-intro-img{
    transform: translate(7.5rem, -2.3rem);
    display:block;
    padding: 0.25rem;
    height:8rem;
    width:auto;
    background-color: #222831;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
}

#mobile-intro-text{
    transform: translateY(-2rem);
    padding: 0.4rem;
    margin-left: 0rem;
    margin-top: 0rem;
    height: 15rem;
    background-color: #ffc1079c;
    box-sizing: border-box;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
    border-radius: 0.0rem 0.5rem 2rem 0rem;
}

#section-title{
    margin-top: 6rem;
    height: 7rem;
    background-color: #ffc1079c;
    box-sizing: border-box;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem 0.5rem 2rem 0.5rem;
    text-align: center;
}

#contact-footer{
    background-color: #FFC107;
}


#contact-footer{
    color: #222831;
}

#teaser-img{
    margin-bottom: 0rem;
    padding: 0.3rem;
    width: 9rem;
    
}
